*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: verdana;
	color: #0b4f6c;
}



/*Navbar format*/

#nav-bar{
	position: top;
	top: 0;
	z-index: 10;
}

.navbar{
	padding: 0px !important; 
}

.navbar-brand{
	color: #516fb0 !important;
	margin-top: 5px;
}

.navbar-nav li{
	padding: 0 12px;
}

.navbar-nav li a{
	color: #516fb0 !important;
	float: right;
	font-weight: 1000;
}


/*End of Navbar format*/

/*Introduction Format*/

#introduction{
	padding-top: 15%;
	padding-bottom: 20%;
	color: #dfe6f2 ;
	font-weight: 600;
}

.introimage{
	background-image: url('../assets/semicon.jpg') ;
	background-size: contain;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:rgba(255,0,0,0.3);
	
}

.introcontent{
	text-align: center;
	font-weight: 600;
}

.btnintro{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2% 0%;
}

/*End of introduction format*/

/*About me format*/
#aboutme{
	background-color: #FFFF ;
	padding-top: 10%;
	padding-bottom: 12%;

}

.aboutbtn{
	margin: 5%;
}
.aboutmecontent{
	text-align: center;
	padding: 5% 0%;
	margin: 5%;
}

.aboutmecard {
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2% ;

}

.imagedefault{
	height: auto ;
	max-width: 100%;
	padding-left: 5%;
}

.cardcontainer{
	margin-left: 2%;
}

.abicon{

	margin-top: 3px;
	font-size: 2rem;
}
/*End of about me format*/

/*My project format*/
#myproject{
	background-color: #EEFFDB;
	padding: 5% 0%;
	
}

#myproject2{
	background-color: #FFF1D0;
	padding: 5% 0%;
}

.myprojectcardcontent{
	margin: 5%;
	line-height: 125%;
}

.projectimage{
	height: auto;
	max-width: 100%;
	margin: 3%;
	padding: 3%;
	border-radius: 100%;
	font-weight: 600;
}
/*End of my project format*/

/*contact format*/
#contactsection{
	background-color: #D3AB9E;
	padding-top: 5%;
	padding-bottom: 18%;
	padding-right: 10%;
	padding-left: 10%;

}

.contactsectioncontent{
	line-height: 150%;
	margin-bottom: 5%;
}


/*End of contact format*/

/*Footer Format*/
#footer{
	padding: 2% 8%;
	background-color: #22223B;
	font-family: sans-serif;
	color: #9A8C98;
}

.footericon{
	
	margin-top: 3px;
	font-size: 2rem;
}

p > a{
	text-decoration: none;
	color: #9A8C98;
}

.list1{
	color: #9A8C98 !important;
}
/*End of footer format*/
